.keys {
  margin-top: 125px;
  color: white;
  height: auto;
  background-image: linear-gradient(160deg, #0079c2 0%, #0071b9 100%);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, .2);
border-bottom-left-radius: 50px;
}

.keys h2 {
  color: black;
}
