<div class="container">
  <div class="row history">
  <div class="col-sm-6">
    <h2>Présentation</h2>
    <p>Créée en 1988, la société APLUS Système Automation est l’un des leaders français du secteur de l’informatique industrielle. Nos équipes et nos bureaux régionaux disposent de savoir-faire étendu sur de multiples applications métiers, dans les secteurs de la distribution, de la défense, de la sécurité et de l’industrie. Les plus grandes entreprises françaises et européennes nous font confiance depuis de nombreuses années.</p>
  </div>
  <div class="col-sm-6">
    <img src="">
  </div>
</div>
</div>