<div style="position: absolute;width:100%;height:55px;background:#0079c2"></div>
<div class="container presentationVideo  text-center">
    <div class="row">
      <div class="col-sm-6">
        <figure>
          <video preload="auto" autoplay="autoplay" loop="loop" class="img-responsive">
            <source src="../../assets/video/aplus-sa-nos-bureaux.mp4" type="video/mp4">
          </video>
        </figure>
      </div>
      <div class="col-sm-6">
        <h2>SERVICES</h2>
        <p>
          Créée en 1988, APLUS Système Automation est aujourd’hui l’un des leaders français des secteurs de l’informatique industrielle.
          Nos équipes (50 personnes) disposent de savoir-faire élargis sur de multiples applications métiers, dans les secteurs
          de la distribution, de la défense, de la sécurité et de l’industrie au sens large. APLUS Système Automation propose
          à ses clients un large spectre de solutions sur-mesure qui tiennent compte des spécificités et des enjeux de votre
          projet.
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6 paddingTopSmall">
        <h2>CONCEPTION & DÉVELOPPEMENT</h2>
        <p>
          Nos locaux, d’une surface totale de 4 000 m2, comprennent une zone de 1 000 m2 dédiée aux opérations d’intégration. Le montage
          et les tests standards peuvent être complétés par des tests spécifiques, selon le cahier des charges que nous établissons
          ensemble.
        </p>
      </div>
      <div class="col-sm-6">
        <figure>
          <video preload="auto" autoplay="autoplay" loop="loop" class="img-responsive">
            <source src="../../assets/video/aplus-sa-notre-atelier.mp4" type="video/mp4">
          </video>
        </figure>
      </div>
    </div>
    <hr>
    <div class="row paddingTopSmall">
      <div class="col-sm-6">
        <figure>
          <video preload="auto" autoplay="autoplay" loop="loop" class="img-responsive">
            <source src="../../assets/video/aplus-sa-montage.mp4" type="video/mp4">
          </video>
        </figure>
      </div>
      <div class="col-sm-6 paddingTopSmall">
        <h2>PRODUCTION & INTÉGRATION</h2>
        <p>
          APLUS Système Automation distribue une gamme complète de sous-ensembles et de produits sélectionnés parmi un panel de partenaires
          reconnus et leaders sur leur marché. Ces composants peuvent être intégrés à des ensembles plus complexes, ou distribués
          nus auprès de professionnels. Nous assurons en interne les services support pour l’ensemble de nos gammes.
        </p>
      </div>
    </div>
    <hr>
    <div class="row paddingTopSmall">
      <div class="col-sm-6">
        <h2>IMPORTATION & COMMERCIALISATION</h2>
        <p>
          Nos bureaux d’études proposent des réponses sur mesure en fonction de vos projets d’informatique industrielle, d’interfaces
          et/ou de systèmes d’affichage. À partir de vos spécifications, nous développons des solutions adaptées à vos contraintes.
          Nous prenons en charge les qualifications, les adaptations nécessaires et la personnalisation (peinture, sérigraphie...)
          du matériel que nous concevons.
        </p>
      </div>
      <div class="col-sm-6">
        <figure>
          <video preload="auto" autoplay="autoplay" loop="loop" class="img-responsive">
            <source src="../../assets/video/aplus-sa-notre-stock.mp4" type="video/mp4">
          </video>
        </figure>
      </div>
    </div>
  </div>