.presentationVideo {
    padding-top: 150px;
    padding-bottom: 20px;
  }
    video {
    width: 500px;
    border-radius: 5px;
    margin: auto;
    border-top: 2px solid #0079c2;
    border-bottom: 2px solid #b4dc95;
    border-bottom-right-radius: 2em;
    border-left: 1px solid #f89829;
    border-right: 1px solid #f89829;
    border-bottom-right-radius: 2em;
  }
  
  .presentationVideo video {
    text-align: center;
  }
  .presentationVideo p {
    text-align: justify;
  }
  .presentationVideo h2 {
    color: #0079c2;
    text-align: center;
  }
  hr {
    margin:80px;
  }