  /* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

  .navbar  li a {
   color: white;
 } 
 .navbar  li a:hover {
  color:#0079c2;
}

.dropdown-menu li a {
  color:#0079c2;  
}










.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: #0079c2;
}
.tease {
    color: #f89829;
    padding:  0 15px 0 15px;
    background-color: rgba(0,0,0,0.8);
}