<div>
  <nav class="navbar">

    <div class="container" id="navbarTogglerDemo01">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img src="../assets/image/APLUS_small.PNG" alt="">
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a [routerLink]="['/']">ACCUEIL</a>
        </li>
        <li class="nav-item active">
            <a [routerLink]="['/history']">LA SOCIÉTÉ</a>
          </li>
        <li class="nav-item">
          <a [routerLink]="['/history']">NOS COMPÉTENCES</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/history']">NOS PRODUITS</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/history']">NOS PARTENAIRES</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/history']">NEWS</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/history']">CONTACT</a>
        </li>

      </ul>
      
    </div>
  </nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
</div>
