<div class="container product-detail text-center">
    <div class='row'>
        <div class='col-md-2'>Filtrer par</div>
        <div class='col-md-4'>
          <input type="text" [(ngModel)]='listFilter' />
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <h3>Filtrer par: {{listFilter}}</h3>
        </div>
      </div>
        <div class="row">
        <div class="col-md-12 text-center">
       <a *ngFor="let seller of product.seller, index as i"><img  [src]='product.seller[i].sellerUrl' width="150px"></a>
    </div>
    </div>
  <div class='row'>
    <div class="col-xs-12 col-lg-12">
      <div class='panel' *ngIf=' product.article'>
        <div class='panel heading' [style.background-color]='product.color'>
          {{product.productName}}
        </div>
        <div class="panel body">
          <button  class="btn btn-default card" type="button" *ngFor="let article of product.article, index as i">
           <div>{{product.article[i].articleName}}</div>
             <img class="card-image img-responsive" [src]='product.article[i].articleUrl'> </button>
        </div>
        <div class="panel-footer">
      <a class="btn btn-default" (click)='onBack()' style='width:80px'>
        <i class="glyphicon glyphicon-chevron-left"></i>Back
      </a>
        </div>
      </div>
    </div>
  </div>
</div>
