/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.ii, .is {
  position: relative;
  width: 300px;
height: 100px;
border: 2px solid white;
border-radius:15px;
left: 200px;
top:130px;
text-align: center;
color:#fff;
}
.ii {
margin-bottom:20px;
background: rgba(2, 179, 228, .5)
}
.is {
background: rgba(248, 152, 41, .7)

}
body {
  webkit-tap-highlight-color: #fed136;
}

.section1 {
  margin:20px;
}

.section2 img {
  width: 100%;
  padding: 5px;
  margin-left:5px;
  border-radius: 15px;
  padding-bottom: 50px;
}

/*********************PARTNERS*********************/

.section3 .carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  height: 200px;
}


/* The controlsy */

.section3 .carousel-control {
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}

.section3 .carousel-control.right {
  right: 12px;
}

.section3 .carousel-control.left {
  right: 12px;
}


/* The indicators */

.section3 .carousel-indicators {
  right: 50%;
  top: 150px;
  bottom: -10px;
  margin-right: -10px;
}
.section3 .carousel .item {
  height: 100px;
  background-color:transparent;
}
.section3 .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100px;
}

/* The colour of the indicators */

.section3 .carousel-indicators li {
  background: #cecece;
}

.section3 .carousel-indicators .active {
  background: #428bca;
}

/****************SOLUTIONS RESEAU*****************/

.vignette-body h4 {
  font-weight: 400;
}



.solutions_reseau .vignette {
  width: 348px;
  height: 360px
}

.solutions_reseau .vignette-header {
  width: 348px;
  height: 156px;
  background-image: url("../../assets/image/solutions_reseau.jpg");
  background-size: contain;
}

.solutions_reseau .vignette-header-overlay {
  width: 348px;
  height: 204px;
  background-color: rgba(2, 179, 228, .8);
}




/*******************vignette********************/

.vignette {
  max-width: auto;
  height: 22.5rem;
  background: #fff;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, .2)
}

.vignette .vignette-header .vignette-header-overlay {
  border-radius: 5px;
}

.vignette h4 {
  font-weight: 400
}


/*PIECES INFORMATIQUE*/

.solutions_pieces-informatique .vignette {
  width: 348px;
  height: 360px;
}

.solutions_pieces-informatique .vignette-header {
  width: 348px;
  height: 156px;
  background-image: url("../../assets/image/solutions_pieces-informatique.jpg");
  background-size: contain;
}

.solutions_pieces-informatique .vignette-header-overlay {
  width: 348px;
  height: 204px;
  background-color: rgba(2, 204, 186, .8);
}


/*SOLUTIONS DAFFICHAGE*/

.solutions_affichage .vignette {
  width: 348px;
  height: 360px;
}

.solutions_affichage .vignette-header {
  width: 348px;
  height: 156px;
  background-image: url("../../assets/image/solutions_affichage.jpg");
  background-size: cover;
}

.solutions_affichage .vignette-header-overlay {
  width: 348px;
  height: 204px;
  background-color: rgba(248, 152, 41, .8);
}

.vignette-body {
  padding: 24px 32px;
  height: 8.25rem;
}
.certification {
  padding-top: 50px;
}
.certification img{
  width: 100px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}