/*********************************************************************/

nav .navbar.navbar-dark {
  background: linear-gradient(160deg, #0079c2 0%, #f89829 100%);
}

#loading {
  -webkit-animation: rotation 15s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(359deg);
  }
}

.anime01 {
  position: absolute;
  z-index: 100000;
  left: -70px;
  display: none;
}

.metier {
  height: 600px;
  padding-top: 150px;
}

video {
  width: auto;
  height: 760px;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.home-page figure {
  background: linear-gradient(160deg, #0079c2 0%, #f89829 100%);
  width: 1351px;
  height: 560px;
  overflow: hidden;
  border-top: 5px solid #f89829;
  border-top-left-radius: 2em;
  border-bottom: 5px solid #b4dc95;
  border-bottom-right-radius: 2em;
  border-left: 2px solid #0079c2;
  border-top-left-radius: 2em;
  border-right: 2px solid #0079c2;
  border-bottom-right-radius: 2em;
}

.home-page figure video {
  width: auto;
  mix-blend-mode: overlay;
  opacity: .95;
  margin: auto;
}

.home-page {
  margin-top: -5px;
  background-image: url("../../assets/image/shapes24.jpg");
  background-size: contain;
}

.card {
  margin-top: 5px;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 0.375rem;
  transition: all 0.3s grey ease;
  width: 248px;
  height: 142px;
  margin-left: 150px;
  margin-right: auto;
}

.card-image {
  width: 128px;
  height: 130px;
  border-radius: 0.375rem;
}

span .card-image {
  padding-right: 0px
}

.card-text {
  height: 100%;
}


/*********************PARTNERS*********************/

.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}


/* The controlsy */

.carousel-control {
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}

.carousel-control.right {
  right: 12px;
}

.carousel-control.left {
  right: 12px;
}


/* The indicators */

.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -10px;
}


/* The colour of the indicators */

.carousel-indicators li {
  background: #cecece;
}

.carousel-indicators .active {
  background: #428bca;
}


/*******************SLIDER**************************/


/****************SOLUTIONS RESEAU*****************/

.vignette-body h4 {
  font-weight: 400;
}

.solution {
  /* background-color:rgba(7,7,7,.1); */
  margin: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding: 20px 0px;
  margin: 20px 0px;
}

.solution::before {
  background-image: url("../../assets/image/34362123.png");
  background-size: contain;
  transform: rotateY(180deg);
  transform: rotateX(180deg)
}

.solutions_reseau .vignette {
  width: 348px;
  height: 360px
}

.solutions_reseau .vignette-header {
  width: 348px;
  height: 156px;
  background-image: url("../../assets/image/solutions_reseau.jpg");
  background-size: contain;
}

.solutions_reseau .vignette-header-overlay {
  width: 348px;
  height: 156px;
  background-color: rgba(2, 179, 228, .5);
}


/***************************SLOGAN***********************************/

.slogan {
  width: 100%;
  height: auto;
  background: linear-gradient(160deg, #0079c2 0%, #f89829 100%);
  margin-top: 30px;
  text-align: center;
}

.slogan h2 {
  font-size: 2.5rem;
}

.slogan2 {
  width: 100%;
  height: auto;
  background-color: #f89829;
  margin-top: 30px;
  text-align: center;
}

.slogan2 h2 {
  font-size: 2.5rem;
}

.slogan3 {
  width: 100%;
  height: auto;
  background-color: #0079c2;
  margin-top: 30px;
  text-align: center;
}

.slogan3 h2 {
  font-size: 2.5rem;
}

.slogan4 {
  width: 100%;
  height: auto;
  background-color: #b4dc95;
  margin-top: 30px;
  text-align: center;
}

.slogan4 h2 {
  font-size: 2.5rem;
}


/*******************vignette********************/

.vignette {
  max-width: auto;
  height: 22.5rem;
  background: #fff;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, .2)
}

.vignette .vignette-header .vignette-header-overlay {
  border-radius: 5px;
}

.vignette h4 {
  font-weight: 400
}


/*PIECES INFORMATIQUE*/

.solutions_pieces-informatique .vignette {
  width: 348px;
  height: 360px;
}

.solutions_pieces-informatique .vignette-header {
  width: 348px;
  height: 156px;
  background-image: url("../../assets/image/solutions_pieces-informatique.jpg");
  background-size: contain;
}

.solutions_pieces-informatique .vignette-header-overlay {
  width: 348px;
  height: 156px;
  background-color: rgba(2, 204, 186, .5);
}


/*SOLUTIONS DAFFICHAGE*/

.solutions_affichage .vignette {
  width: 348px;
  height: 360px;
}

.solutions_affichage .vignette-header {
  width: 348px;
  height: 156px;
  background-image: url("../../assets/image/solutions_affichage.jpg");
  background-size: cover;
}

.solutions_affichage .vignette-header-overlay {
  width: 348px;
  height: 156px;
  background-color: rgba(248, 152, 41, .5);
}

.vignette-body {
  padding: 24px 32px;
  height: 8.25rem;
}


/*************************************************************************/

.presentation {
  width: 100%;
  height: 250px;
}


/***************************************************************************/

.footer1 {
  width: 100%;
  height: 100px;
}

#triangle1 {
  width: 0;
  height: 0;
  border-bottom: 250px solid rgba(0, 121, 194, .5);
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  display: inline;
  margin-left: -50px
}

#triangle2 {
  width: 0;
  height: 0;
  border-bottom: 250px solid rgba(180, 220, 149, .5);
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  display: inline;
  margin-left: -50px
}

#triangle3 {
  width: 0;
  height: 0;
  border-bottom: 250px solid rgba(248, 152, 41, .5);
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  display: inline;
}

.footer1 p {
  color: black;
  font-size: 2rem;
  position: absolute;
  display: inline;
  margin-top: 15%;
  background-color: ;
  text-shadow: 1px 1px 1px black;
}

.contact span {
  font: inherit;
  vertical-align: baseline;
}


/********************************************************************************************************************************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.gallery {
  @media screen and (min-width: 801px) {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.photo {
  width: 20%;
  position: relative;
  background: white;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.25);
  float: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  transition: all 100ms ease-out;
  transform: translateZ(0);
  img {
    width: 100%;
    height: auto;
    position: relative;
  }
  figcaption {
    margin-top: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    color: black;
  }
  @media screen and (max-width: 400px) {
    width: 90%;
    transform: rotateZ(0deg) !important;
    margin: 20px auto 0 auto;
    float: none;
  }
  @media screen and (min-width: 401px) {
    &:hover {
      transform: rotateZ(0deg) scale(1.2) !important;
      z-index: 257 !important;
      box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1), 0px 0px 29px rgba(0, 0, 0, 0.2);
    }
  }
  @media screen and (min-width: 401px) and (max-width: 600px) {
    width: 50%;
  }
  @media screen and (min-width: 601px) and (max-width: 800px) {
    width: 33.3333%;
  }
  @media screen and (min-width: 801px) and (max-width: 1000px) {
    width: 25%;
  }
  @media screen and (min-width: 1001px) {
    width: 20%;
  }
}
