/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
@media (max-width:380px){
  .carousel {
    height: 150px;
  margin-bottom: 0px;
  
  }
}
@media (max-width:380px){
  .carousel-inner > .item > img {
    height: 150px;
  }
}
@media (max-width:380px){
  .carousel-inner  .item {
    height: 150px;
  }
}


.ii, .is {
  position: relative;
  width: 300px;
height: 100px;
border: 2px solid white;
border-radius:15px;
left: 200px;
top:130px;
text-align: center;
color:#fff;
}
.ii {
margin-bottom:20px;
background: rgba(2, 179, 228, .5)
}
.is {
background: rgba(248, 152, 41, .7)

}

.section1 {
  margin:20px;
}

.section2 img {
  width: 100%;
  padding: 5px;
  margin-left:5px;
  border-radius: 15px;
  padding-bottom: 50px;
}

/*********************PARTNERS*********************/

.section3 .carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  height: 200px;
}


/* The controlsy */

.section3 .carousel-control {
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}

.section3 .carousel-control.right {
  right: 12px;
}

.section3 .carousel-control.left {
  right: 12px;
}


/* The indicators */

.section3 .carousel-indicators {
  right: 50%;
  top: 150px;
  bottom: -10px;
  margin-right: -10px;
}
.section3 .carousel .item {
  height: 100px;
  background-color:transparent;
}
.section3 .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100px;
}

/* The colour of the indicators */

.section3 .carousel-indicators li {
  background: #cecece;
}

.section3 .carousel-indicators .active {
  background: #428bca;
}

/****************SOLUTIONS RESEAU*****************/

.vignette-body h4 {
  font-weight: 400;
}



.solutions_reseau .vignette {
  width: 348px;
  height: 360px
}

.solutions_reseau .vignette-header {
  width: 348px;
  height: 156px;
  background-image: url("../../assets/image/solutions_reseau.jpg");
  background-size: contain;
}

.solutions_reseau .vignette-header-overlay {
  width: 348px;
  height: 204px;
  //background-color: rgba(2, 179, 228, .8);
}




/*******************vignette********************/

.vignette {
  max-width: auto;
  height: 22.5rem;
  background: #fff;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, .2)
}

.vignette .vignette-header .vignette-header-overlay {
  border-radius: 5px;
}

.vignette h4 {
  font-weight: 400
}


/*PIECES INFORMATIQUE*/

.solutions_pieces-informatique .vignette {
  width: 348px;
  height: 360px;
}

.solutions_pieces-informatique .vignette-header {
  width: 348px;
  height: 156px;
  background-image: url("../../assets/image/solutions_pieces-informatique.jpg");
  background-size: contain;
}

.solutions_pieces-informatique .vignette-header-overlay {
  width: 348px;
  height: 204px;
 // background-color: rgba(2, 204, 186, .8);
}


/*SOLUTIONS DAFFICHAGE*/

.solutions_affichage .vignette {
  width: 348px;
  height: 360px;
}

.solutions_affichage .vignette-header {
  width: 348px;
  height: 156px;
  background-image: url("../../assets/image/solutions_affichage.jpg");
  background-size: cover;
}

.solutions_affichage .vignette-header-overlay {
  width: 348px;
  height: 204px;
  //background-color: rgba(248, 152, 41, .8);
}

.vignette-body {
  padding: 24px 32px;
  height: 8.25rem;
}
.certification {
  padding-top: 50px;
}
.certification img{
  width: 100px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.focus {
  margin-top:120px;
  width: 570px;
  height: 319px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("http://www.aplus-sa.com/tl_files/aplus/img/focus/focus-background.png");
  background-position: top left;
  background-repeat: repeat-x;
  background-color: #eee;
  margin:5px;
}
.focus-title {
    color: #1486c0;
    font-size: 20px;
    font-weight: bold;
}
.focus-image .focus-text {
  padding: 0 30px 15px;
  float: left;
  width: 250px;
  height: 230px;
  text-align: left;
}
/* The controlsy */

.section4 .carousel-control {
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}

.section4 .carousel-control.right {
  right: 0px;
}

.section4 .carousel-control.left {
  right: 12px;
}


/* The indicators */

.section4 .carousel-indicators {
  right: 50%;
  top: 0px;
  margin-right: -10px;
}
.section4 .carousel .item {
  width: 500px;
  height: 319px;
  background-color:transparent;
}
.section4 .carousel-inner > .item > img {
 
  min-width: 100%;
}

/* The colour of the indicators */

.section4 .carousel-indicators li {
  background: #cecece;
}

.section4 .carousel-indicators .active {
  background: #428bca;
}